body{
  background-color: rgb(235,235,235);
}
a{
  text-decoration: none;
  color: currentColor;
}
#main-view > .left-content{
  border:1px solid black;
  float: left;
  width: 70%;
  padding:4.5%;
  min-width: 600px;
  min-height: 400px;
}

#main-view > .right-content{
  border:1px solid black;
  float: right;
  width: 20%;
 
}
#main-view > .right-content >ul{
  padding-left: 20px;
}

#main-view > .right-content >ul > li{
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  list-style: none;
  color: black;
}

#main-view > .right-content >ul > li > span{
  margin-right: 6px;
  position: relative;
  top:2px;
  
}

#main-view > .right-content >ul > li svg{
  fill:currentColor;
}



#main-view > .right-content >ul > li:hover{
  background: lightblue;
  transition: all .4s;
}

#main-view > .right-content >ul > .active{
  background:rgba(31,51,111,.5);
  color: white
}


#main-view > .right-content > h1{
  background:rgba(31,51,111,.8);
  color: white;
  padding-left: 10px;
}


@media screen and (max-width:1000px){
  #main-view > .right-content { 
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding:0;
    height: 40px;
    box-shadow: 0 1px 6px rgba(0,0,0,.6);
    border: none;
  }

  #main-view > .right-content >ul > li:hover{
    background: none;
    font-size: 18px;
    transition: all .4s;
  }

  #main-view > .right-content >ul > li > span {
    opacity: 0;
  }

  #main-view > .right-content >ul > .active{
    background:none;
    color: yellow;
  }

  #main-view > .right-content > h1 {
    display: none;
  }
  #main-view > .right-content > ul {
    height: 40px;
    background:rgba(31,51,111,.8);
    margin: 0;
  }

  #main-view > .right-content > ul > li { 
    margin-top: 8px;
    list-style: none;
    float: right;
    margin-right: 20px;
    color:white;
  }

  #main-view > .left-content{
    width: 95%;
    padding:2.5%;
    margin-top: 40px;
  }
}

textarea{
  width: 80%;
  height: 200px;
}

#screen{
  font-family: 'Georgia', serif;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  padding:12px;
}

#screen pre{
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 12px;
  padding: 20px;
}

#screen blockquote{
  border-left: 4px solid #eee;
  color: #666;
  font-style: italic;
  margin: 16px 0;
  padding: 5px 10px;
}

button{
  height: 50px;
  width: 50px;
  border:none;
  background-color: rgba(31,51,111,.7);
  color: white;
  border-radius: 4px;
  margin-top: 10px;
}

button:hover{
  background-color: rgba(31,51,111,.8);
}


button:active{
  background-color: rgba(31,51,111,1);
  outline: none;
}

button:disabled{
  background-color: rgba(31,51,111,.4);
}